.login-page {
    height: 100vh;
    width: 100vw;
    min-width: 520px;
    background: url(../../LoftTaxi.jpg);
     /* black; */
    /* url("../../../public/LoftTaxi.jpg"); */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* space-evenly; */
    align-content: center;
}

.login-page-logo {
    margin: 10px 210px;
    display: flex;
    justify-content: center;
    align-content: center;

}