.form-signin {
    /* position: absolute; */
    width: 505px;
    height: 563px;
    background: #FFFFFF;
    border: 3px solid black;
    padding: 0px;
    display: grid;
    grid-template-rows: 65px 26px 28px 13px 42px 15px 8px 20px 42px 15px 8px 20px 42px 15px 8px 20px 42px 50px auto;
    grid-template-columns: 52px auto 60px;
    /* grid-template-areas:
        ". . ."
        ". header ."
        ". . ."
        ". text ."
        ". . ."
        ". label ."
        ". . ."
        ". input ."
        ". . ."
        ". label ."
        ". . ."
        ". input ."
        ". . ."
        ". label ."
        ". . ."
        ". input ."
        ". . ."
        ". button ."
        ". . ."; */
    /* grid-template:
        ". . ." 65px
        ". header ." 26px
        ". . ." 28px
        ". text ." 13px
        ". . ." 42px
        ". label ." 15px
        ". . ." 8px
        ". input ." 20px
        ". . ." 42px
        ". label ." 15px
        ". . ." 8px
        ". input ." 20px
        ". . ." 42px
        ". label ." 15px
        ". . ." 8px
        ". input ." 20px
        ". . ." 42px
        ". button ." 50px
        ". . ."1fr
        / 52px 1fr 60px; */
}


.form-signin-header {
    /* position: relative;    
    width: 233px;
    height: 99px;
    left: 54px;
    top: 37.64px; */
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    border: 1px red solid;

    /* font-family: AdobeClean; */
    font-size: 36px;
    font-weight: 500;
    line-height: 99px;
    /* identical to box height, or 274% */

    display: flex;
    align-items: center;

    color: #323232;

}



.form-signin-text {
    /* position: relative;
    width: 237px;
    height: 99px;
    left: 53px;
    top: 50.64px; */
    grid-column: 4 / 5;
    grid-row: 2 / 3;

    border: 1px red solid;
    
    font-family: AdobeClean;
    font-size: 16px;
    line-height: 99px;

    color: #505050;
}

.form-signin-label-name {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

.form-signin-input-name {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
}